
<div id="post_show_content" class="skinny_wrapper wrapper_padding">
	<p id="notice"><%= notice %></p>
	<header>
		<p class="date"><%=	@post.created_at.strftime('%A, %B %d') %></p>
		<h1><%= @post.title %></h1>
		<hr>
	</header>

	<div id="content">
		<%= markdown @post.content %>
	</div>
		<div id="admin_links">
			<%= link_to 'Back', posts_path %>
			<%= link_to "Edit", edit_post_path(@post) %>
			<%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
		</div>
	<hr>
		<%= render "shared/disqus" %>

		<div id="share_box">
		<p>Share <%= @post.title %></p>
		<!-- VK share script -->

	</div>
	<hr>
</div>
