<!DOCTYPE html>
<html>
<head>
  <title>KirillZhuravlov</title>
  <script type="text/javascript" src="http://vk.com/js/api/share.js?93" charset="windows-1251"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header id="main_navigation" class="clearfix">
		<%= link_to "Kirill Zhuravlov", root_path, class: "name" %>
		<nav>
			<%= link_to "Articles", posts_path %>
			<%= link_to "Projects", posts_path %>
			<%= link_to "Contact", posts_path %>
		</nav>
	</header>

  <%= yield %>

	<footer id="main_footer">
		<p class="copyright">
			&copy; Zhuravlov Kirill 2015
		</p>
		<nav>
			<a href="https://vk.com/tjai89" target="_blank"><i class="fa fa-vk" ></i></a>
			<a href="https://vk.com/tjai89" target="_blank"><i class="fa fa-vk" ></i></a>
			<a href="https://vk.com/tjai89" target="_blank"><i class="fa fa-vk" ></i></a>
		</nav>
	</footer>


	
	

</body>
</html>
